"""Configuration"""

# Debug mode
DEBUG = False

# Minimum number of images required in training dataset
MINIMUM_TRAIN_DATASET = 100

# Path where trained models and data will be stored
DATA_DIR = "dp"

####################
# WordPress Config #
####################

# Base URL for WordPress
WP_BASE_URL = "http://localhost:8000"

# URL from where to get images
WP_URL = "{}/wp-json/deeppress/v1/records".format(WP_BASE_URL)

# URL for models and groups
WP_MODULES_URL = "{}/wp-json/deeppress/v1".format(WP_BASE_URL)


# If the images are locally stored then set it to false
REMOTE_SERVER = True

WP_USERNAME = 'admin'
WP_PASSWORD = 'admin'

#######################
# Local Server Config #
#######################
LOCAL_HOST = 'localhost'
LOCAL_PORT = 8080
LOCAL_AUTH_TOKEN = 'YWRtaW46YmFzZWFwcA=='

###########################
# Training COnfigurations #
###########################
NUM_STEPS_FOR_EVAL = 5000
IMAGE_HEIGHT = 600
IMAGE_WIDTH  = 800
ADD_QUANTIZATION = False
